body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: gray;
}

.container {
  width: 50%;
  max-width: 100%;
  margin: 5% auto;
  font-size: 18px;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(165, 159, 159);
}

footer {
  width: 50%;
  bottom: 0;
  border-top: 1px solid #dee2e6;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}
